<% value = @object.send(property[:name]) %>
                <div>
                  <%= text_field(property[:name], :class => "vDateField", :label => property[:pretty_name].capitalize, :value => value.respond_to?(:strftime) ? value.strftime("%Y-%m-%d") : nil) %>
                  <p class="help">
                    <%= !property[:nullable?] ? "Required." : "Optional." %>
                  </p>
                </div>
