<%
  name = property[:name]
  length = property[:length]
  label = property[:pretty_name].capitalize
  required = !property[:nullable?] || property[:serial?]
%>
                <div>
                  <%= text_field(name, :maxlength => length, :label => label) %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
