<%
  name = property[:name]
  value = @object.send(name)
  label = property[:pretty_name].capitalize
  required = !property[:nullable?]
%>
                <div>
                  <%= text_field(name, :class => "vTimeField", :value => value.respond_to?(:strftime) ? value.strftime("%H:%M:%S") : nil, :label => label) %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
