<% value = eval("@object.#{property.field}") %>
                <div>
                  <%= text_field(property.name, :class => "vTimeField", :label => property.field.capitalize.gsub('_', ' '), :value => value.respond_to?(:strftime) ? value.strftime("%H:%M:%S") : nil) %>
                  <p class="help">
                    <%= !property.nullable? ? "Required." : "Optional." %>
                  </p>
                </div>
