        <div id="content-main">
          <div class="module">
            <table summary="Models available in the application.">
              <caption>
                <%= link_to("Models", url(:admin_dashboard), :class => "section") %>
              </caption>
              <% @abstract_models.each do |abstract_model| %>
              <tr>
                <th scope="row">
                  <%= link_to(abstract_model.plural_name.to_s.capitalize, url(:admin_list, :model_name => abstract_model.singular_name)) %>
                </th>
                <td>
                  <%= link_to("Add", url(:admin_new, :model_name => abstract_model.singular_name), :class => "addlink") %>
                </td>
                <td>
                  <%= link_to("Edit", url(:admin_list, :model_name => abstract_model.singular_name), :class => "changelink") %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
