        <div id="content-main">
          <div class="module">
            <table summary="Models available in the application.">
              <caption>
                <%= link_to("Models", slice_url(:admin_dashboard), :class => "section") %>
              </caption>
              <% @models.map{|m| m.to_s}.each do |model_name| %>
              <tr>
                <th scope="row">
                  <%= link_to(model_name.pluralize, slice_url(:admin_list, :model_name => model_name.snake_case)) %>
                </th>
                <td>
                  <%= link_to("Add", slice_url(:admin_new, :model_name => model_name.snake_case), :class => "addlink") %>
                </td>
                <td>
                  <%= link_to("Edit", slice_url(:admin_list, :model_name => model_name.snake_case), :class => "changelink") %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div id="content-related">
          <div class="module" id="recent-actions-module">
            <h2>Recent Actions</h2>
            <h3>My Actions</h3>
            <p>None available</p>
          </div>
        </div>
        <br class="clear" />
