!gems/cache/
*.db
*.gem
*.rbc
*.sqlite
*.sqlite3
*.sw[p|o]
*~
.#*
.DS_Store
.bundle
.hg/*
.hgignore
.svn/*
TAGS
TODO
bin/*
coverage/*
doc/*
gems/
log/*
merb_profile_results
pkg/*
schema/*.db
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
schema/schema.rb
src/*
tmp/*
