*.db
*.sqlite
*.sqlite3
*~
.#*
.DS_Store
.hg/*
.hgignore
.svn/*
TAGS
TODO
bin/*
coverage/*
doc/*
gems/
!gems/cache/
log/*
merb_profile_results
pkg/*
schema/*.db
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
schema/schema.rb
src/*
tmp/*
*.sw[p|o]
