<% if message && message[:error] %>
<p class="errornote">
  <%=h message[:error] %>
</p>
<% end %>
<% if message && message[:notice] %>
<ul class="messagelist">
  <li><%=h message[:notice] %></li>
</ul>
<% end %>
