              <div class="form-row page">
                <div>
                  <%= check_box property.name, :label => property.field.capitalize.gsub('_', ' ') %>
                </div>
              </div>
