        <div id="content-main">
        <%= form_for(@instance, :action => slice_url(:admin_create, :model_name => @model_name.snake_case)) do %>
          <div>
            <fieldset class="module aligned">
              <h2><%= @model_name %> info</h2>
              <% @properties.each do |property| %>
                <% next if [:id, :created_at, :created_on, :updated_at, :updated_on].include?(property.name) %>
<%= partial property.primitive.to_s.snake_case, :property => property -%>
              <% end %>
            </fieldset>
            <div class="submit-row" >
              <%= submit "Create", :class => "default" %>
            </div>
          </div>
        <% end =%>

        </div>
